.color-modal {
  background-color: transparent;
  box-shadow: none;
  width: 325px;
  max-height: 325px;
}

ul.color-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.color-group:after {
  content: "";
  clear: both;
}

ul.color-group li {
  box-sizing: border-box;
  float: left;
  overflow: hidden;
  position: relative;
}

.color-group a {
  display: block;
  width: 38px;
  height: 38px;
  float: left;
}

label.open-color-group {
  display: inline-block;
  position: static !important;
  padding-left: 10px;
  border: 1px solid #dedede;
  line-height: 40px;
  width: calc(100% - 50px);
}

.open-color-group, label.open-color-group {
  cursor: zoom-in;
}

.color-wrapper .color-sample {
  vertical-align: top;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #dedede;
}

.open-color-group:hover, label.open-color-group:hover {
  border: 1px dashed #ffc107;
}
