.color-group-fade {
  display: none;
  position: fixed; z-index: 9999;
  top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.8);
}
.color-group {
  /*border:1px solid #cecece;*/
  background-color: transparent;
  width: 332px;
  /*height: 300px;*/
  position: relative;
  z-index: 99999;
  margin: 0 auto;
  left: 50%;
  /*top: 50%;*/
  margin-left: -166px;
  /*margin-top: -150px;*/
}
.color-group a {
  display: block;
  width: 30px;
  height: 30px;
  float: left;
}

label.open-color-group {
  display: inline-block;
  position: static !important;
  margin-left: 10px;
}

.color-wrapper span {
  vertical-align: middle;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #212121;
}
