h1.logo-wrapper {
  padding: 15px;
  font-weight: bold;
}

.field_with_errors input {
  border: 1px solid red !important;
}
#preview-modal iframe {
  height: calc(100% - 6px);
}
#preview-modal {
  max-height: 70% !important;
  height: 70% !important;
}
.state {
  padding: 5px 10px;
  border-radius: 5px;
}

.profile-header-company-wrapper {
  padding: 15px 0;
}

h5.brand-logo {
  font-weight: bold;
  text-shadow: #BDBDBD 1px 1px;
  margin-top: 0;
  padding: 10px;
}

.leftside-navigation .collapsible {
  border: none;
  box-shadow: none;
}

.leftside-navigation .collapsible li {
  padding: 0;
}

.leftside-navigation .collapsible-header {
  background-color: transparent;
  border: none;
  line-height: inherit;
  height: inherit;
  margin: 0 1rem;
}

.leftside-navigation .collapsible-header i {
  line-height: inherit;
}

.leftside-navigation .collapsible-body {
  border: 0;
  background-color: #fff;
}

.leftside-navigation .collapsible-body li a {
  margin: 0 1rem 0 2rem;
}

.leftside-navigation {
  margin: 0;
  background-color: #fff;
  overflow-y: auto;
  will-change: left;
}

.leftside-navigation .collapsible {
  margin: 0;
}

.leftside-navigation li {
  float: none;
  padding: 0 15px;
}

.leftside-navigation a {
  color: #444;
  display: block;
  font-size: 1rem;
  height: 64px;
  line-height: 64px;
  padding: 0 15px;
}

.profile-menu li a:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.profile-menu li a {
	display: block;
	padding: 10px;
}
.no-bot-margin {
  margin-bottom: 0;
}
.no-top-margin {
  margin-top: 0;
}

.no-top-padding {
  padding-top: 0;
}
.no-bot-padding {
  padding-bottom: 0;
}

.mss-logo{
height: 33px !important;
}
.rbi-logo{
height: 47px !important;
margin: 6px 3px -6px 13px !important;
}
.mlb-blue-bg{
	background: #09548F !important;
}
.rbi-mss-login_widget h4{
	font-size: 31px;
}
	.rbi-mss-login_widget .btn{
		margin: 3px;
		width: 91%;
	}
	.rbi-mss-login_widget li.btn-row{
		display: inline-block;
		width: 47%;
		text-align: center;
		margin: auto auto 13px auto;
	}
	.rbi-mss-login_widget li.register-row{
		margin: auto 0 auto 13px;
	}
	.rbi-mss-login_widget .login-btn{
		background: #EF3D47;
	}

	.mss-shares_widget{
		border: none;
	}
	.mss-shares_widget h4{
	    padding: 9px 0 0 0;
    	font-weight: bold !important;
    	font-size: 23px !important;
	}
	.mss-shares_widget li{
		padding: 0 !important;
		height: 45px;
		width: 96px;
		border-radius: 6px;
		text-align: center;
		margin: auto;
	}
	.mss-shares_widget img{
		height: 44px;
    	float: left;
	}
