.brand-logo {
  font-size: 18px !important;
  margin: 0 20px;
}

.filter-widget {
  padding: 0 10px;
}

.filter-widget input[type=search] {
  color: #767676;
}

.top-nav i, .sub-menu i, .subnav i {
  color: #c6ff00;
}

.profile-edit-cover {
  margin-right: 20px;
}

.sub-menu, nav.subnav {
  box-shadow: none;
}
nav.subnav {
  border-bottom: 1px solid #DEDEDE;
}
.sub-menu a {
  color: white;
}

.no-bot-margin {
  margin-bottom: 0;
}
.no-top-margin {
  margin-top: 0;
}

.no-top-padding {
  padding-top: 0;
}
.no-bot-padding {
  padding-bottom: 0;
}

footer.page-footer {
  padding: 0;
}
