<div class="section no-top-padding">
  <h5 class="main-title">Fotos</h5>
</div>

<div class="row photos">
  <% @photos.each do |photo| %>
    <div class="col">
      <div class="photo center-align" style="overflow: hidden;" img-full="<%= photo.url %>">
        <div class="valign-wrapper center-align">
          <%= image_tag(photo.slider.url, class: 'valign img-open') %>
        </div>
      </div>
    </div>
  <% end %>
</div>
