<div class="section no-top-padding">
  <h5 class="main-title">Como chegar</h5>
</div>

<div classs="section">
  <iframe
    width="100%"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDqdqRUKXGJjNk4vH42SPsWOQMae91Bosw&q=<%= @company.address_code %>&zoom=15" allowfullscreen>
  </iframe>
</div>
