<% flash.each do |name, msg| %>
<div id="modal1" class="window-modal modal indigo white-text" style="width: 40%;">
  <div class="modal-content center">
    <h4 class="truncate"><%= title_for(name) %></h4>
    <p><%= msg %></p>
  </div>
  <div class="modal-footer indigo darken-1">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green  white-text btn-flat">Fechar</a>
  </div>
</div>
<% end %>
