<div class="title-wrapper">
  <div class="title-h5">Últimas ofertas</div>
  <%= link_to "Ver todas", offers_path, style: "margin-left: 10px;" %>
</div>
<br />
<div class="last-offers slick-sliding">
  <% @offers.each do |offer| %>
    <div class="col">
      <%= render "offers/offer_card", offer: offer %>
    </div>
  <% end %>
</div>
<br />
