<nav role="navigation" class="main-nav grey darken-3">
  <div class="nav-wrapper container">
    <h1 class="weekz">Weekz</h1>
    <div class="sub-menu right hide-on-small-only">
      <% unless user_signed_in? %>
        <%= link_to new_user_session_path do %>
          <i class="fa fa-key" aria-hidden="true"></i> Entrar
        <% end %> ou
        <%= link_to new_user_registration_path do %>
          <i class="fa fa-user" aria-hidden="true"></i> Registrar
        <% end %>
      <% else %>
        <%= link_to backstage_dashboard_path do %>
          <i class="fa fa-gear" aria-hidden="true"></i> Painel
        <% end %> |
        <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
  </div>
</nav>
