<div class="row full-padding">
  <div class="container">
    <div class="col s12 l5 signup">
      <%= render "home/registration" %>
    </div>
    <div class="col s12 l7">
      <div class="promo">
        <h2 class="fredoka" style="text-transform:uppercase;">Nós te ajudamos a conquistar seu espaço na internet!<br>Faça sua IDÉIA ser conhecida</h2>
        <h3><i class="fa fa-check-circle light-green-text" aria-hidden="true"></i> Crie websites responsivos para todos os dispositivos</h3>
        <h3><i class="fa fa-check-circle light-green-text" aria-hidden="true"></i> Atualize seus visitantes e ganhe credibilidade como PROFISSIONAL</h3>
        <h3><i class="fa fa-check-circle light-green-text" aria-hidden="true"></i> Comece a criar uma IDENTIDADE VISUAL</h3>
        <h3><i class="fa fa-check-circle light-green-text" aria-hidden="true"></i> Divulgue seus produtos e aumente suas VENDAS</h3>
        <h3><i class="fa fa-check-circle light-green-text" aria-hidden="true"></i> Acompanhe relatórios de acesso para medir seus resultados e traçar novas estratégias</h3>
      </div>
    </div>
  </div>
</div>
