<div class="slick-slideshow z-depth-2">
  <div class="row bg-2 no-bot-margim">
    <div class="col s12 valign-wrapper">
      <div class="container center">
        <h5 class="valign yellow-text text-accent-2">
          Seja um parceiro!
        </h5>
        <p class="valign">Para ter acesso a benefícios exclusivos seja nosso parceiro</p>
        <br />
        <%= link_to "Saiba mais", partner_path, class: "btn transparent white-text", style: "border: 1px solid #dedede" %>
      </div>
    </div>
  </div>

  <div class="row bg-1 no-bot-margim">
    <div class="col s12 valign-wrapper">
      <div class="container center">
        <h5 class="valign yellow-text text-accent-2">
          Conheça nossas ofertas
        </h5>
        <p class="valign">Nós temos ofertas exclusivas para você</p>
        <br />
        <%= link_to "Confira", offers_path, class: "btn transparent white-text", style: "border: 1px solid #dedede" %>
      </div>
    </div>
  </div>
</div>
