<div class="slick-slideshow z-depth-2">
  <div class="row bg-2 no-bot-margin">
    <div class="col s12 valign-wrapper">
      <div class="container center">
        <h5 class="valign yellow-text text-accent-2">
          Impulsione seu negócio
        </h5>
        <p class="valign">Seja nosso parceiro e tenha benefícios exclusivos</p>
        <br />
        <%= link_to "Saiba mais", partner_path, class: "btn white-text" %>
      </div>
    </div>
  </div>

  <div class="row bg-1 no-bot-margin">
    <div class="col s12 valign-wrapper">
      <div class="container center">
        <h5 class="valign yellow-text text-accent-2">
          Aproveite nossas ofertas
        </h5>
        <p class="valign">Nós temos ofertas exclusivas para você</p>
        <br />
        <%= link_to "Confira", offers_path, class: "btn white-text" %>
      </div>
    </div>
  </div>
</div>
