<footer class="page-footer full-padding <%= "#{color(:primary_color, @company)} #{color(:text_color, @company)}" %> no-top-margin">
  <div class="container center">
    <%= link_to @company.name, "/#{@company.slug}", class: color(:link_color, @company) %> @ <%= link_to 'weekz.com.br', 'http://weekz.com.br', class: color(:link_color, @company), target: "_blank" %>
  </div>
</footer>
