<nav role="navigation" class="<%= color(:primary_color, @company) %>">
  <div class="nav-wrapper side-padding">
    <div class='large-container'>
      <%= link_to @company.name, "#!", class: "brand-logo" %>
    </div>
  </div>
</nav>
