<div id="color-modal-<%= field %>" class="color-modal modal">
  <ul class="color-group">
    <% Color.find_each do |color| %>
      <li>
        <%= link_to "", "#!", class: "tooltipped color-link #{color.name}",
            input: field, 'data-id': color.id, 'data-color': color.name,
            'data-delay': 50, 'data-tooltip': color.name %>

      </li>
    <% end %>
  </ul>
</div>
