<div class="valign-wrapper center color-group-fade" onclick="$(this).fadeOut();" style="display: none;">
  <div class="color-group valign">
    <% Profile.colors.each do |color| %>
      <%= link_to '', "#", class: "#{color[:color]} color-link", color: color[:color], input: '', text_color: "#{color[:text_color]}" %>
    <% end %>
  </div>
</div>
