<div class="row full-padding">
  <div class="container">
    <div class="section center" style="font-size: 22px;">
      <i class="fa fa-rocket red-text" aria-hidden="true" style="font-size: 140px; margin-bottom: 40px;"></i><br>
      <%= message %>
    </div>
  </div>
</div>
