<div class="search-generic center">
  <%= form_tag path, method: :get do %>
      <fieldset style="border: none; margin: 0; padding: 0;">
        <input name="key" id="icon_local" type="search" placeholder="<%= placeholder %>" value='<%= params[:key] %>'>
        <button class="btn blue" type="submit" name="action">
          Filtrar
        </button>
    </fieldset>
  <% end %>
</div>
