<div id="breadcrumbs-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <h5 class="breadcrumbs-title">Cadastrar usuário</h5>
        <ol class="breadcrumbs">
          <li>Administrativo</li>
          <li><%= link_to "Usuários", backstage_users_path %></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card-panel">
      <%= render "form" %>
    </div>
  </div>
</div>
