<div class="col s12 l6 quotes">
  <div class="card grey darken-4">
    <div class="card-content white-text">
      <span class="card-title">INSPIRAÇÃO EMPREENDEDORA</span>
      <p>
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        Se você traçar metas absurdamente altas e falhar, seu fracasso será muito melhor que o sucesso de todos
        <i class="fa fa-quote-right" aria-hidden="true"></i></p>
    </div>
    <div class="card-action right-align white-text">
      James Cameron
    </div>
  </div>
</div>
