<div class="row side-padding full-padding no-bot-margin">
  <div class="large-container">
    <h3 class="title-margin no-top-margin center"><i class="title-fa red-text fa fa-paper-plane" aria-hidden="true"></i>ALGUNS PARCEIROS</h3>

    <div class="last-companies slick-sliding">
      <% @destaque.each do |company| %>
        <%= render "companies/company_card", company: company %>
      <% end %>
    </div>
  </div>
</div>
<div class="row grey darken-4 no-bot-margin">
  <div class="content">
    <div class="super-padding">
      <div class="divider grey darken-3"></div>
    </div>
  </div>
</div>
