<div class="section">
  <div class="carousel" style="height: 150px;">

<% Company.first(10).each do |company| %>
    <div class="carousel-item" href="">
      <div class="valign-wrapper" style="height: 180px;">
        <div class="valign section">
          <%= link_to image_tag(slider(company)), get_url(company) %>
        </div>
      </div>
    </div>
<% end %>

  </div>
</div>

<div class="section">
  <% if @companies.present? %>

    <ul class="collection">
      <%= render "companies/collection" %>
    </ul>

    <%= paginate @companies %>

  <% else %>

    <div class="section">
      Sem resultados, <%= link_to "volte para a página inicial", "/", class: "green-text" %>.
    </div>

  <% end %>
</div>
