<%#= render "layouts/main/slideshow" %>
<div class="row margin-top">
  <div class="container">
    <div class="section">
      <h5 class="title center"><i class="title-fa amber-text fa fa-paper-plane" aria-hidden="true"></i>Locais mais populares</h5>
    </div>

    <div class="last-companies slick-sliding">
      <% @destaque.each do |company| %>
        <div style="padding: 0 10px;">
          <%= render "companies/company_card", company: company %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row light-blue no-top-margin no-bot-margin">
  <div class="container valign-wrapper">
    <div class="col s12 m8 advantage right-align">
        <p class="white-text" style='font-size: 1.6em;'>
          Junte-se ao <%= link_to "Weekz", backstage_companies_path, class: "amber-text bolder" %> gratuitamente
        </p>
    </div>
    <div class="col s12 m4 left-align valign">
      <%= link_to "Cadastrar", backstage_companies_path, class: "btn-transparent" %>
    </div>
  </div>
</div>
