<div class="section">
  <div class="carousel" style="height: 150px;">

<% Company.all.each do |company| %>
    <div class="carousel-item" href="">
      <div class="valign-wrapper" style="height: 180px;">
        <div class="valign section">
          <%= link_to image_tag(company.logotipo.try(:slider).try(:url)), get_url(company) %>
        </div>
      </div>
    </div>
<% end %>

  </div>
</div>

<div class="section">
  <% unless @companies.empty? %>

    <ul class="collection with-header">
      <li class="collection-header">
        <h5><i class='material-icons orange-text'>stars</i> Mais procurados</h5>
      </li>
      <%= render "companies/collection" %>
    </ul>

    <%= paginate @companies %>

  <% else %>

    <div class="section">
      Sem resultados, <%= link_to "volte para a página inicial", "/", class: "green-text" %>.
    </div>

  <% end %>

</div>
