<%#= render "layouts/main/slideshow" %>

<% unless user_signed_in? %>
  <%= render "layouts/main/promo" %>
<% end %>

<%= render "home/populars" %>

<!-- <div class="row indigo no-top-margin no-bot-margin">
  <div class="container">
    <div class="col s12 m8 advantage no-bot-margin no-bot-padding">
        <p class="white-text center no-bot-margin no-bot-padding" style='font-size: 1.6em;'>
          Junte-se ao <%= link_to "Weekz", backstage_companies_path, class: "red-text bolder" %> gratuitamente
        </p>
    </div>
    <div class="col s12 m4 center">
      <%= link_to "Cadastrar", backstage_companies_path, class: "btn-join-transparent" %>
    </div>
  </div>
</div> -->
