<div class="container quem-somos">
  <div class="row">
    <div class="title-wrapper center">
      <div class="title-h5">Quem somos</div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p class="recuo" style="text-align: justify;">
        A empresa Meu Guia Online iniciou a sua história em 2016 com o conceito “comprometimento” e “inovação” após muita pesquisa de mercado, fruto da visão empreendedora de seus criadores com o objetivo de ajudar milhares de empreendedores e principalmente facilitar a vida das pessoas. Afinal, toda grande empresa que procura crescer e expandir sua participação no mercado precisa de um time de marketing ativo e atualizado.
      </p>
      <br/>
      <br/>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4 center">
      <i class="material-icons blue-text large">assignment</i><br/>
      <h5>Missão</h5>
      <p>Disponibilizar uma aproximação entre empreendedores e consumidores</p>
    </div>

    <div class="col s12 m4 center">
      <i class="material-icons yellow-text large">assessment</i><br/>
      <h5>Visão</h5>
      <p>Ser referência em propaganda e marketing digital</p>
    </div>

    <div class="col s12 m4 center">
      <i class="material-icons red-text large">stars</i><br/>
      <h5>Valores</h5>
      <ul>
        <li>Comprometimento</li>
        <li>Superação de resultados</li>
        <li>Inovação</li>
        <li>Melhora contínua</li>
        <li>Parceria de respeito</li>
      </ul>
    </div>
  </div>
  <br/>
  <%= image_tag "/images/quem_somos.jpg", style: "margin-top: 3px; max-width: 100%; height: auto" %>
</div>
