<div class="container quem-somos">
  <div class="row margin-top">
    <div class="section">
      <h5 class="center title"><i class="fa fa-title amber-text fa-user-secret" aria-hidden="true"></i> Quem somos</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card-panel">
      <p class="recuo" style="text-align: justify;">
        A empresa Weekz iniciou a sua história em 2016 com o conceito “comprometimento” e “inovação” após muita pesquisa de mercado, fruto da visão empreendedora de seus criadores com o objetivo de ajudar milhares de empreendedores e principalmente facilitar a vida das pessoas. Afinal, toda grande empresa que procura crescer e expandir sua participação no mercado precisa de um time de marketing ativo e atualizado.
      </p>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4 center">
      <div class="card-panel">
      <i class="material-icons blue-text large">assignment</i><br/>
      <h5>Missão</h5>
      <p>Disponibilizar uma aproximação entre empreendedores e consumidores</p>
    </div>
    </div>

    <div class="col s12 m4 center">
      <div class="card-panel">
      <i class="material-icons yellow-text large">assessment</i><br/>
      <h5>Visão</h5>
      <p>Ser referência em propaganda e marketing digital</p>
    </div>
    </div>

    <div class="col s12 m4 center">
      <div class="card-panel">
      <i class="material-icons red-text large">stars</i><br/>
      <h5>Valores</h5>
      <ul>
        <li>Comprometimento</li>
        <li>Superação de resultados</li>
        <li>Inovação</li>
        <li>Melhora contínua</li>
        <li>Parceria de respeito</li>
      </ul>
    </div>
    </div>
  </div>
</div>
