<div class='row no-bot-margim'>
  <div class="container">
    <div class="section">

      <% unless @companies.blank? %>

        <ul class="collection with-header">
          <li class="collection-header">
            <h5>Você buscou: <strong style='text-transform: uppercase;'><%= params[:key] %></strong></h5>
          </li>
          <%= render "companies/collection" %>
        </ul>

        <%= paginate @companies %>

      <% else %>

          <p class="center">
            <br/>Ooops! Não encontramos nada para sua pesquisa, procure novamente ou<br />
            <%= link_to "volte para a página inicial", "/" %>.
          </p>

      <% end %>

    </div>
  </div>
</div>
