<div id="tab-inicial" class="tab-content">
  <div class="row no-bot-margin">
    <div class="company-profile" style="color: black;">
      <%= raw @company.profile.institutional %>
    </div>
  </div>
</div>
