<div class="title-wrapper center">
  <div class="title-h5 <%= primary_color @company %> <%= text_color @company %>">Como chegar</div>
</div>

<div classs="section">
  <iframe
    width="100%"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDqdqRUKXGJjNk4vH42SPsWOQMae91Bosw&q=<%= @company.address_code %>&zoom=15" allowfullscreen>
  </iframe>
</div>
