<div id="breadcrumbs-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <h5 class="breadcrumbs-title">Fontes</h5>
        <ol class="breadcrumbs">
            <li>Administrativo</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card-panel">
      <table class="striped bordered">
        <thead>
          <tr>
              <th data-field="name">Nome</th>
              <th data-field="actions"></th>
          </tr>
        </thead>

        <tbody>
          <% @fonts.each do |font| %>

          <tr>
            <td><%= font.name %></td>
            <td>
              <%= link_to "Editar", [:edit, :backstage, font] %>
            | <%= link_to "Apagar", [:backstage, font], method: :delete, data: { confirm: "Confirma exclusão?" } %>
            </td>
          </tr>

          <% end %>
        </tbody>
      </table>
    </div>

    <div class="card-panel">
      <%= link_to "Nova fonte", new_backstage_font_path, class: "btn large" %>
    </div>
  </div>
</div>
