.nav-menu {
  margin-bottom: 20px;
  .tabs-menu {
    .tabs {
      background-color: transparent;
      height: 100%;
    }
    .tab {
      a {
        line-height: 66px;
        height: 66px;
      }
      .active {
        -moz-transition: border-color .1s ease;
        -o-transition: border-color .1s ease;
        -webkit-transition: border-color .1s ease;
        transition: border-color .1s ease;
        background-color: rgba(0,0,0, 0.2);
        font-weight: bold;
      }

      a:hover {
        background-color: rgba(0,0,0, 0.2);
      }

    }

    .indicator {
      display: none;
    }
  }
}
