@media only screen and (min-width: 993px) {
  .container {
    min-width: 973px;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    min-width: 1180px;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1450px) {
  .large-container {
    width: 1400px !important;
    margin: 0 auto;
  }
}

.article.card {
  box-shadow: none !important;
}

p {
  line-height: 2 !important;
}
.btn-flat {
  border: 1px solid #aeaeae;
}
.article-pager ul {
  padding-top: 20px !important;

  li {
    overflow: hidden;
  }

  li a {
    background-color: white;

    i {
      font-size: inherit;
    }
  }

  li.active a {
    background-color: #232323;
  }
}
.page-title {
  margin-bottom: 20px;
}
.btn-read-more {
  color: #212121;
  margin-right: 10px;
  margin-bottom: 10px;
}
.btn-read-more:hover {
  opacity: 0.85;
}
.datetime {
  font-size: 9px;
  color: #212121;
}
.contact-page .container {
  min-width: inherit;
  max-width: 700px;
}

.articles {
  display: block;

  .sidebar {
    clear: right;
    overflow: hidden;
    .facebook-widget {
      padding-left: 10px;
    }
    .avatar {
      padding-left: 105px !important;
    }
    ul {
      margin-top: 20px;
      padding-left: 10px;
      border: none;

      .square {
        position: absolute;
        width: 80px;
        height: 70px;
        overflow: hidden;
        left: 10px;
        display: inline-block;
        vertical-align: middle;
      }

      .title {

      }
    }
    li:not(.collection-header) {
      padding: 15px;
      opacity: 0.7;
      min-height: 99px;
      transition: opacity .35s ease-in-out;
      -moz-transition: opacity .35s ease-in-out;
      -webkit-transition: opacity .35s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
    li.collection-header {
      padding: 0;
      margin: 0;
      background-color: transparent;
      opacity: 1;
    }
    h5 {
      display: inline-block;
      padding: 10px;
      font-size: 18px;
      margin: 0;
    }
  }
}

.page-footer {
  .col {
    padding: 10px 0;
  }
  .company-date {
    margin-bottom: 10px;
  }
  .fa {
    font-size: 32px;
    padding-top: 5px;
    float: left;
    margin-right: 10px;
  }
}
.blog-page {
  h4 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
  }
  h5 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .article {
    &:hover {
      transition: opacity .35s ease-in-out;
      -moz-transition: opacity .35s ease-in-out;
      -webkit-transition: opacity .35s ease-in-out;
      opacity: 0.8;
    }
    padding: 10px 0 20px 0;

    em {
      font-size: 11px;
      font-style: normal;
    }

    h2 {
      margin: 0;
      margin-bottom: 10px;
      font-size: 22px;
      line-height: 1.4;
    }

    border-bottom: 1px solid #dedede;
    overflow: hidden;

    picture {
      padding: 0;
      img {
        max-width: 100%;
      }
    }
    h3.article-description {
      font-size: 16px;
      line-height: 1.4;
      margin: 10px 0 20px 0;
    }
    .card-content {
      padding: 0;
    }

    .article-content {
      margin-top: 0px;
      padding-left: 20px;
    }
  }
}
@media only screen and (max-width: 600px) {
  .blog-page .article .article-content {
    padding-left: 0px;
    margin-top: 10px;
  }
}

.article-page {
  .article {
    overflow: hidden;

    h2 {
      margin: 0;
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 1.4;
    }

    .card-content {
      padding: 0;
      margin-top: 20px;
    }

    .card-title {
      margin-bottom: 20px;
    }

    h1 {
      margin: 0;
      margin-bottom: 10px;
      font-size: 24px;
      line-height: 1.4;
    }

    em {
      font-size: 10px;
      font-style: normal;
    }
  }

  h5 {
    margin-top: 40px;
    font-size: 20px;
  }
}
// .article {
//   overflow: hidden;
//   picture {
//     img {
//       // max-height: 350px;
//       max-width: 100%;
//     }
//   }
//
//   .card-title {
//     margin-bottom: 20px;
//     padding-top: 10px;
//     h2 {
//       margin-bottom: 0px;
//       line-height: 1.4 !important;
//       font-size: 16px;
//       margin-top: 20px;
//     }
//     h1 {
//       margin-bottom: 10px;
//       font-size: 24px;
//       line-height: 1.5em;
//


.side-search {
  fieldset {
    border: none; margin: 0;
    padding: 0;
    padding-top: 15px;
  }
  input#icon_local {
    border: 1px solid #dedede;
    padding-left: 10px;
    width: calc(100% - 62px);
    display: inline-block;
    background-color: white;
    color: #212121;
  }
  button {
    border: none;
    border: 1px solid white;
    float: right;
    // display: block;
    width: 40px;
    height: 45px;
    padding-top: 8px;
    // padding: 5px;
  }
}


// h1 {
//   font-size: 42px;
//   margin: 0;
// }
// h2 {
//   font-size: 36px;
// }
// h3 {
//   font-size: 26px;
// }
// h6 {
//   font-size: 22px !important;
// }
