.article-pager ul {
  padding-top: 20px !important;

  li {
    overflow: hidden;
  }

  li a {
    background-color: white;

    i {
      font-size: inherit;
    }
  }

  li.active a {
    background-color: #232323;
  }
}
.articles {
  padding: 0 10px;
  display: block;

  .article {
    .card-image {
      img {
        max-height: 350px;
        width: 100%;
      }
    }

    .card-title {
      margin-left: 20px;
      padding-top: 10px;
      h5 { line-height: 1.5em; }

      em {
        i {
          font-size: .85em;
        }
        font-size: .5em;
      }
    }

    .card-content {
      .article-description {
        margin-bottom: 30px;
      }

      .btn-flat:hover {
        opacity: 0.8;
      }
    }
  }
}
