<div class="card company-card">
   <div class="card-image waves-effect waves-block waves-light">
     <%=
       link_to(
         image_tag(logotipo_square(company), class: "valign", alt: "#{company.name}"), get_url(company))
     %>
     <div class="content">
       <span class="card-title activator grey-text text-darken-4">
         <h1><%= link_to company.name, get_url(company), class: "truncate white-text" %></h1>
       </span>
     </div>
   </div>
 </div>
