<nav class="hide-on-small-only">
  <div class="white nav-wrapper">
    <ul class="right hide-on-small-only">
      <li>
        <%= link_to backstage_company_path(@company), class: "grey-text text-darken-3" do %>
          <i class="material-icons left">person_pin</i> Perfil
        <% end %>
      </li>

      <li>
        <%= link_to backstage_company_albums_path(@company), class: "grey-text text-darken-3" do %>
          <i class="material-icons left">perm_media</i> Álbuns
        <% end %>
      </li>

      <li>
        <%= link_to edit_backstage_company_path(@company), class: "grey-text text-darken-3" do %>
          <i class="material-icons left">edit</i> Editar dados
        <% end %>
      </li>

      <li>
        <%= link_to backstage_company_profile_path(@company), class: "grey-text text-darken-3" do %>
          <i class="material-icons left">assignment</i> Editar perfil
        <% end %>
      </li>
    </ul>
  </div>
</nav>
