<div class="row margin-top">
  <div class="container">
    <div class="section center" style="font-size: 22px;">
      <i class="fa fa-rocket amber-text" aria-hidden="true" style="font-size: 140px; margin-bottom: 40px;"></i><br>
      Ooops, não encontramos a página que você está procurando.
      <br>Utilize nossa busca para encontrar o que deseja!
    </div>
  </div>
</div>

<%= render "home/populars" %>
