<% if @company.profile.institutional.present? and @company.premium? %>
  <div id="tab-inicial" class="tab-content">
    <%= render "layouts/company/tab/inicial" %>
  </div>
<% end %>

<% if @company.premium? %>
  <% @company.albums.each do |album| %>
    <div id="tab-album-<%= album.id %>" class="tab-content">
      <%= render "layouts/company/tab/fotos", album: album %>
    </div>
  <% end %>
<% end %>

<div id="tab-contato" class="tab-content">
  <%= render "layouts/company/tab/contato" %>
</div>
