<div class="container">
  <div id="profile-page" class="row">

    <%= render "layouts/backstage/profile_header" %>

    <div class="card-panel">
      <%= render "form" %>
    </div>
  </div>
</div>
