<div id="breadcrumbs-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <h5 class="breadcrumbs-title">Basic Tables</h5>
        <ol class="breadcrumbs">
            <li><a href="index.html">Dashboard</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Basic Tables</li>
        </ol>
      </div>
    </div>
  </div>
</div>
