<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container white-text">
      <%= link_to "http://meuguia.online", "/", class: "yellow-text" %> - Seu guia na maior avenida do mundo
    </div>
  </div>
</footer>
