<footer class="page-footer">
  <div class="footer-copyright blue-grey darken-4">
    <div class="container white-text">
      <%= link_to "http://www.weekz.com.br", "/", class:"white-text" %> - Seu guia na maior avenida do mundo
    </div>
  </div>
</footer>
