<footer class="page-footer">
  <div class="footer-copyright white-text grey darken-4">
    <div class="container center">
      <%= link_to "http://weekz.com.br", "/", class:"white-text" %>
    </div>
  </div>
</footer>
