<footer class="page-footer">
  <div class="footer-copyright blue-grey darken-4">
    <div class="container white-text">
      <%= link_to "http://meuguia.online", "/" %> - Seu guia na maior avenida do mundo
    </div>
  </div>
</footer>
