<div class="row">
  <div class="container">
    <div class="title-wrapper">
      <div class="title-h5">Confira nossas ofertas exclusivas</div>
    </div>
    <br />
    <div class="search-offers">
      <%= form_tag offers_path, method: :get do %>
          <fieldset style="border: none; margin: 0; padding: 0;">
            <input name="keyword" id="icon_local" type="search" placeholder="Filtrar ofertas" value=<%= params[:keyword] %>>
            <button class="btn" type="submit" name="action">
              Filtrar
            </button>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <% @offers.each do |offer| %>
      <div class="col s12 m6 l4">
        <%= render "offers/offer_card", offer: offer %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
    <div class="container center">
      <%= paginate @offers %>
  </div>
</div>
