<div id="breadcrumbs-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <h5 class="breadcrumbs-title">Dashboard</h5>
        <ol class="breadcrumbs">
            <li>Início</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card-panel">
      <div class="center">
        Nenhuma atualização
      </div>
    </div>
  </div>
</div>
