<div id="home" class="full-padding <%= odd_color(@company, @row_counter) %>">
  <div class="row">
    <div class="container">
      <div class="company-profile" style="color: black;">
        <%= raw @company.profile.institutional %>
      </div>
    </div>
  </div>
</div>
<% @row_counter += 1 %>
