/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rating
 *= require slick
 *= require slick-theme
 *= require font-awesome
 *= require logotipo
 *= require navbar
 *= require sidebar
 *= require plans
 *= require custom
 *= require materialize-load
 *= require company-card
 *= require article-card
 *= require signup
 *= require promo
 *= require login-modal
 *= require_self
 *= require materialize-xlarge
 */

@import 'materialize';

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Francois+One');
// @import url('https://fonts.googleapis.com/css?family=Francois+One');

body {
  font-family: 'Open Sans', serif;
  // background-color: color("grey", "lighten-5");
}

.fredoka {
  font-family: 'Francois One', cursive;
}

@media only screen and (min-width: 993px) {
  .container {
    min-width: 973px;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    min-width: 1180px;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1450px) {
  .large-container {
    width: 1400px !important;
    margin: 0 auto;
  }
}

@media #{$medium-and-down} {
  .first-nav {
    .button-collapse i, .open-menu, .open-menu i {
      line-height: 34px;
      height: 34px;
    }
    height: 56px;
    line-height: 56px;
  }

  .search-pad {
    padding: 100px 0 !important;
  }
}

h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }

.full-padding {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
}
.mid-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}
.side-padding {
  padding-left: 40px;
  padding-right: 40px;
}
.super-padding {
  padding: 0 10%;
}
.fb {
  background-color: #3b5998 !important;
}

.btn-join-transparent {
  border: 1px solid white;
  padding: 10px 30px;
  color: white;
  display: inline-block;
  margin: 20px auto;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.field_with_errors input {
  border: 1px solid red !important;
}

strong {
  font-weight: bold;
}

.recuo { text-indent: 4em; padding: 0 20px; }

.quem-somos p, .quem-somos li {
  font-size: 1.4em;
}

.bordered-map {
  border: 1px solid #aeaeae;
}

.search-generic input[type="search"] {
  width: 250px;
  border: 1px solid #dedede;
  padding-left: 15px;
  background-color: white;
}
.search-generic .btn {
  height: 44px;
  margin-top: -4px;
}

.map-modal {
  font-size: 1.2em;
  h5 {
    font-weight: bold;
    color: $primary-color;
    width: 100%;
    font-size: 1.8em;
  }
  a { font-size: 1.2em; }
}

.row.map  { margin-bottom: 0; }

.page-footer span {
  font-size: 1.3em;
  font-weight: bold;
  display: block;
  margin-top: 20px;
}

.page-footer {
  #tag_cloud {
    margin-top: 10px;
  }
  li { padding: 2px 0; }
  a:hover {
    text-decoration: underline;
  }
}
.tag {
  padding: 0px 5px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 4px;
  opacity: 0.6;
  transition: opacity .35s ease-in-out;
 -moz-transition: opacity .35s ease-in-out;
 -webkit-transition: opacity .35s ease-in-out;
  &:hover {
    opacity: 1;
    text-decoration: none !important;
  }
}
.bolder { font-weight: bold; text-transform: uppercase; }

h1.logo {
  font: inherit;
  padding: inherit;
  margin: inherit;
}

.css1 { font-size: .8em; }
.css2 { font-size: .9em; }
.css3 { font-size: 1.0em; }
.css4 { font-size: 1.1em; }

.rate {
  padding-bottom: 20px;
  border-bottom: 1px dashed color("grey", "lighten-1");
}

.search-input {
  text-transform: uppercase;
}

.carousel {
  height: 240px;
}

.main-title {
  border-bottom: 1px solid #aeaeae;
  padding-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

h1.logo {
  font-weight: bold;
}

.opacity {
  background-color:rgba(255, 255, 255, 0.3) !important;
}

.no-bot-margin {
  margin-bottom: 0;
}
.no-top-margin, .no-top-margin h5 {
  margin-top: 0;
}

.no-top-padding, .no-top-padding h5 {
  padding-top: 0;
}
