.avatar .title a {
  font-size: 1.3em;
}

.card.company-card {
  box-shadow: none;
  // border: 1px solid #ffffff;
  opacity: 0.8;
  margin-right: 20px;

  &:hover {
    opacity: 1;
  }
}

.avatar p {
  font-family: Tahoma, serif;
}

.squared {
  position: absolute;
  width: 110px;
  height: 110px;
  overflow: hidden;
  left: 10px;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 10px;
}

.squared img {
  margin: auto;
  max-width: 110px;
  max-height: 110px;
}

.collection-item .rating {
  margin-top: 5px;
  display: block;
}

.collection-header h5 {
  font-weight: bold;
}

.collection-header h5 i {
  vertical-align: top;
}
