ul.company-collection {
  border: none;
  margin-top: 40px;

  li {
    padding: 20px 0;

    .content {
      padding: 10px 0;
      p { padding-top: 10px; }
    }
  }
}
.avatar h1 {
  font-size: 1.4em;
  margin: 5px 0;
  font-weight: bold;
}

.card.company-card {
  box-shadow: none;
  // border: 1px solid #ffffff;
  opacity: 0.8;
  margin-right: 20px;

  &:hover {
    opacity: 1;
  }
}
.avatar-bigger {
  height: 170px;
  padding-left: 190px !important;

  p {
    line-height: 1.6em;
  }
  p.desc {
    line-height: 2em;
  }
}

.squared {
  position: absolute;
  width: 150px;
  height: 150px;
  overflow: hidden;
  left: 10px;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 10px;
}

.squared img {
  margin: auto;
  max-width: 150px;
  max-height: 150px;
}

.collection-item .rating {
  margin-top: 10px;
  display: block;
}
