.main-nav {
  border-top: 1px solid white;
}
.weekz {
  font-weight: bold;
  margin: 7px 0;
  padding: 0;
  color: white;
  float: left;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  white-space: nowrap;
}

.first-nav {
  box-shadow: none;
  padding-top: 12px;

  .button-collapse i, .open-menu, .open-menu i {
    line-height: 40px;
    height: 40px;
  }
}

.first-nav li {
  line-height: 40px;
  height: 40px;
  a {
    border-radius: 10px;
    border-radius-top-left: 10px;
    border-radius-top-right: 10px;
    color: white;

    &:hover {
      color: white;
      background-color: #ffc107;
    }
  }

  a i {
    display: inline;
    vertical-align: -1px;
  }
}
