.weekz {
  margin: 0;
  padding: 0;
  color: white;
  white-space: nowrap;
  // margin: 80px 0 10px;
  font-size: 3.8rem;
}

.discover {
  font-size: 1.2em;
  // margin-top: 20px;
  padding-bottom: 20px;
}

.first-nav {
  box-shadow: none;
  padding-top: 12px;

  .button-collapse i, .open-menu, .open-menu i {
    line-height: 40px;
    height: 40px;
  }
}

.first-nav li {
  line-height: 40px;
  height: 40px;
  a {
    border-radius: 10px;
    border-radius-top-left: 10px;
    border-radius-top-right: 10px;
    color: white;

    &:hover {
      color: #FF5252;
      background-color: #1a237e;
    }
  }

  a i {
    display: inline;
    vertical-align: -1px;
  }
}
