.main-nav {
  height: 55px;
  line-height: 55px;
  border-bottom: 4px solid #4fc3f7;
}
nav .nav-wrapper .sub-menu i {
  line-height: 20px;
}

.sub-menu {
  a i {
    color: #ffc107;
  }
  a {
    // color: #212121;
    line-height: 30px !important;
    padding: 0 5px;

    &:hover {
      color: #ffc107;
    }
  }
}
.discover {
  font-size: 2.2em;
  text-shadow: #BDBDBD 1px 1px;
}
.search-nav .input-field {
  margin-bottom: 20px;
}

.search-nav {
  margin-top: 40px;
  box-shadow: none;
  border: 1px solid #BDBDBD;

  .input-field label.active i {
    color: #BDBDBD;
  }
}
.main-categories {
  margin-top: 30px;
}
.main-categories > span {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.main-categories a {
  padding: 0 10px;

  &:hover {
    // text-shadow: #BDBDBD 1px 1px;
    color: #ffc107;
  }
}
.main-categories .fa, .sub-menu .fa {
  margin-right: 5px;
  font-size: 1em;
  height: auto !important;
  line-height: auto !important;
}
.search-section {
  input[type=search] {
    color: #767676;
  }

  padding: 80px 0 120px 0;
  background: url(/images/cover.jpg) no-repeat;
  background-size: cover;
}

.search-section h5 {
  font-weight: bold;
}

.search-section {
  ::-webkit-input-placeholder {
      color: #aeaeae;
      opacity: 1 !important; /* for older chrome versions. may no longer apply. */
  }

  :-moz-placeholder { /* Firefox 18- */
      color: #aeaeae;
      opacity: 1 !important;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
      color: #aeaeae;
      opacity: 1 !important;
  }

  :-ms-input-placeholder {
     color: #aeaeae;
  }
}
