.main-nav {
  height: 55px;
  line-height: 55px;
}
nav .nav-wrapper .sub-menu i {
  line-height: 20px;
}

.sub-menu {
  position: relative;
  right: 0;
  top: 0;
  display: inline;
  a i {
    color: #FF5252;
  }
  a {
    color: white;
    // line-height: 30px !important;
    padding: 5px 5px;

    &:hover {
      color: #FF5252;
    }
  }
}
.discover {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 20px;
  // text-shadow: #BDBDBD 1px 1px;
  padding-bottom: 20px;
}
.search-nav .input-field {
  margin-bottom: 20px;
}

.search-nav {
  h6 {
    padding-top: 0;
  }
  margin-top: 20px;
  box-shadow: none;
  border: 1px solid #BDBDBD;

  .input-field label.active i {
    color: #BDBDBD;
  }
}
.main-categories {
  margin-top: 20px;
}
.main-categories > span {
  padding: 10px;
  // background-color: #303f9f;
  background-color: rgba(0,0,0, 0.4);
  border-radius: 10px;
}
.main-categories a {
  padding: 0 10px;

  &:hover {
    // text-shadow: #BDBDBD 1px 1px;
    color: #FF5252;
  }
}
.main-categories .fa, .sub-menu .fa {
  color: #FF5252;
  margin-right: 5px;
  font-size: 1em;
  height: auto !important;
  line-height: auto !important;
}
.search-section {
  input[type=search] {
    // color: #767676;
  }

  padding: 20px 0 120px 0;
  background-size: cover;
  transition: background 1s linear;
}

.bg1 {
  background: url(/images/bg.jpg) no-repeat;
}

.bg2 {
  background: url(/images/bg1.jpg) no-repeat;
}

.bg3 {
  background: url(/images/bg2.jpg) no-repeat;
}

.search-section h1 {
  font-weight: bold;
}

.search-section {
  ::-webkit-input-placeholder {
      color: #cdcdcd;
      opacity: 1 !important; /* for older chrome versions. may no longer apply. */
  }

  :-moz-placeholder { /* Firefox 18- */
      color: #cdcdcd;
      opacity: 1 !important;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
      color: #cdcdcd;
      opacity: 1 !important;
  }

  :-ms-input-placeholder {
     color: #cdcdcd;
  }
}
