.home {
  h3, h4 {
    line-height: 1.5;
  }

  .btn-action {
    margin-top: 20px;
    font-size: 16px;

    &:hover {
      transition: opacity .35s ease-in-out;
      -moz-transition: opacity .35s ease-in-out;
      -webkit-transition: opacity .35s ease-in-out;
      opacity: 0.7;
    }
  }

  .advanges p {
    i {
      margin-right: 10px;
    }
    font-size: 18px;
  }

  .advanges .col.s12 {
    margin: 20px 0;
    &:hover img {
      cursor: pointer;
      transition: opacity .35s ease-in-out;
      -moz-transition: opacity .35s ease-in-out;
      -webkit-transition: opacity .35s ease-in-out;
      opacity: 0.7;
    }
  }
}
.sidebar {
  overflow: hidden;
  .facebook-widget {
    padding-left: 10px;
  }
  .avatar {
    padding-left: 125px !important;
  }
  ul {
    // margin-top: 20px;
    padding-left: 10px;
    border: none;

    .square {
      position: absolute;
      width: 100px;
      height: 90px;
      overflow: hidden;
      left: 10px;
      display: inline-block;
      vertical-align: middle;
    }

    .title {

    }
  }
  li:not(.collection-header) {
    padding: 15px;
    opacity: 1;
    height: 119px;
    transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -webkit-transition: opacity .35s ease-in-out;
    &:hover {
      opacity: 0.9;
    }
  }
  li.collection-header {
    padding: 0;
    margin: 0;
    background-color: transparent;
    opacity: 1;
  }
  h5 {
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    margin: 0;
  }

  .title {
    margin-bottom: 5px;
  }
}

.article-title {
  font-weight: bold;
  text-transform: uppercase;
}

.quotes {
  .card {
    box-shadow: none;
  }
  .card-title {
    font-size: 14px !important;
  }
  p {
    font-size: 24px;
  }
}
