.signup {
  background-color: white;
  padding: 20px 10px !important;
  border-radius: 5px;
  h3 {
    margin-top: 0;
  }

  .input-field {
    padding: 0;

    input {
      width: calc(100% - 4rem) !important;
    }
  }

  .divider {
    margin: 20px 0;
  }
}

.promo {
  padding: 0 40px;
  i.fa {
    margin-right: 5px;
  }
  h2 { font-size: 2.2em; }
  h3 {
    font-size: 1.2em;
    line-height: 1.4em;
  }
}
