<div class="section">
  <h5 class="main-title">Oooops, encontramos um erro!</h5>
  <p>Nossa equipe foi informada e resolveremos o problema assim que possível.
  <br />Que tal voltar para nossa <%= link_to "página inicial", root_url %>?</p>
</div>
